<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="vtype"
                    converterClass="io.qozz.qozzbank.config.converter.ThreadTypeConverter"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%vtype] [%25.25thread] %logger{36}: %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>